project:
  type: website

website:
  title: '@mjfrigaard'
  image: profile.png
  site-url: "https://mjfrigaard.github.io/"
  repo-url: https://github.com/mjfrigaard/mjfrigaard.github.io
  description: "Martin Frigaard's personal website"
  search:
    location: navbar
    type: textbox
  navbar:
    right:
      - icon: github
        href: https://github.com/mjfrigaard
      - icon: twitter
        href: https://twitter.com/mjfrigaard
    left:
      - text: "About"
        file: about.qmd
      - text: "All Posts"
        file: posts.qmd
      - text: "Books"
        file: books.qmd
      - text: "Talks"
        file: talks.qmd
      - text: "Publications"
        file: articles.qmd
      - text: "Series"
        file: series.qmd
      - text: "Code"
        file: code.qmd

        
format:
  html:
    theme:
      light: [cosmo, custom.scss]
    dpi: 320
    lightbox: true
    fig-format: retina
    fig-asp: 0.618
    fontsize: 1.075em
    linestretch: 1.15
    code-annotations: hover
    mermaid:
      theme: neutral

    
editor:
  mode: source
  render-on-save: true
